# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
MPU6050RCT6/cmake-build-debug
WaterVolumeSensor/cmake-build-debug
F103RCT6_I2CAddressFound/cmake-build-debug
WaterPressureSensor/cmake-build-debug

DepthSensor/cmake-build-debug

FirstBuoyancyCabin/cmake-build-debug

PWM/cmake-build-debug

PWM/cmake-build-debug-/

C8T6PerformanceEvaluation/cmake-build-debug/

ESCTest/cmake-build-debug/

AS5600/cmake-build-debug/

FirstFastBoat/cmake-build-debug/

RCT6Uart/cmake-build-debug/
